---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, SITE_TITLE_LONG } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>
        {SITE_TITLE_LONG} 游뻟릖
      </h1>
      <img
        src="/blog-placeholder-1.jpg"
        alt="Imagen de la aplicaci칩n Caffy"
        width="1000"
        height="500"
        loading="lazy"
        decoding="async"
      />
      <p>
        춰Descarga ahora nuestra aplicaci칩n m칩vil para Android! Explora lo mejor
        de Colombia: su cultura, gastronom칤a, lugares tur칤sticos y mucho m치s,
        todo en un solo lugar.
      </p>
      <p>
        Con nuestra aplicaci칩n, podr치s descubrir los mejores destinos
        tur칤sticos, restaurantes, eventos y actividades en Colombia. Adem치s,
        podr치s disfrutar de contenido exclusivo, recomendaciones personalizadas
        y noticias sobre el pa칤s.
      </p>
      <a
        href="https://play.google.com/store/apps/details?id=me.mrnizzy.colombia"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="/google-play-badge.png"
          alt="Google Play Store"
          width="200"
          height="75"
          loading="lazy"
          decoding="async"
          class="google-play-badge"
        />
      </a>
      <Footer />
    </main>
  </body>
</html>
