---
import { APP_VERSION } from "../consts";
import PlayStoreButton from "./PlayStoreButton.astro";
---

<section class="app-info">
  <h2>Versión de la aplicación</h2>
  <p>
    v{APP_VERSION}
  </p>
  <PlayStoreButton />
</section>

<style>
  .app-info {
    text-align: center;
  }
  .app-info p {
    font-size: 1.5rem;
    margin: 0;
  }
</style>
