---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE_SHORT } from "../consts";
import IconFacebook from "./icons/IconFacebook.astro";
import IconX from "./icons/IconX.astro";
import IconGitHub from "./icons/IconGitHub.astro";
import IconInstragram from "./icons/IconInstragram.astro";
---

<header>
  <nav>
    <a href="/" class="brand">
      <img src="/icon-fill.svg" alt="Logo de Caffy" width="32" height="32" />
      <h2>{SITE_TITLE_SHORT}</h2>
    </a>
    <div class="internal-links">
      <HeaderLink href="/">Inicio</HeaderLink>
      <HeaderLink href="/about">Acerca de</HeaderLink>
      <HeaderLink href="/changelog">Cambios</HeaderLink>
    </div>
    <div class="social-links">
      <!-- Instagram -->
      <a href="https://www.instagram.com/caffy.co" target="_blank">
        <span class="sr-only"> Síguenos en Instagram </span>
        <IconInstragram width={32} height={32} />
      </a>
      <!-- Facebook -->
      <a href="https://www.facebook.com/caffy.col" target="_blank">
        <span class="sr-only"> Síguenos en Facebook </span>
        <IconFacebook width={32} height={32} />
      </a>
      <!-- X/Twitter -->
      <a href="https://x.com/caffy_co" target="_blank">
        <span class="sr-only"> Síguenos en X </span>
        <IconX width={32} height={32} />
      </a>
      <!-- GitHub -->
      <a href="https://github.com/Mist-Code-co" target="_blank">
        <span class="sr-only"> Síguenos en GitHub</span>
        <IconGitHub width={32} height={32} />
      </a>
    </div>
  </nav>
</header>
<style>
  .brand {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .social-links,
  .social-links a {
    display: flex;
  }

  .social-links a {
    transition: transform 0.3s;
  }
  .social-links a:hover {
    transform: scale(1.075);
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
